header{
    height:75px;
    position:fixed;
    width: 100%;
    z-index:9999;
    top:0;
    left:0;
}

h1{float:left; }


.main_map{
  width:100%;
  height: 100%;
  position: absolute;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

body {
  overflow-x: auto;
     white-space:nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 100vh;
    background-image:url('../image/blue.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  a{text-decoration: none;}

  .menu{float:right;}
  .menu li{float:left; list-style:none; color:white; padding:20px;}
  .menu a{line-height:75px; padding:0 20px; text-decoration: none;color:white; }
    .wrapper{width:80%; margin:0 auto; }
   .clearfix{content:''; display:block; clear:both;}

.nav{ 
  position:absolute;
  width:60%;
  height:40px;

  background-color:#001941;
  text-align:center;



  position:absolute;
  margin-top:7%;
  margin-left: 20%;
   border:0;
    border-radius: 15px;

    }

#gnb{
    

    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  }
  #gnb li{

    display:inline;
  }

  #gnb a{
    color: white;

    display:inline-block;

    padding:10px 8%;
  }


