{% extends '../main_new.html' %}

{% block title %}sub_cctv{% endblock %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html style="margin: 0; height:100%">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub_style.css' %}">
        <meta charset="utf-8"/>
     </head>
    
     <body style="overflow:hidden;">
        <div id="list">
               <ul id="camera_num" style="float:left; position: absolute; width:130px; height:100%; 
               background-color:#001941;color:aliceblue; margin: -16px -16px; 
               "  > 
               <br><br>
               <li>
                  <h4>카메라 목록</h4>
               </li>
               <li style=" margin: 20px 0px;">
                   <a href="../main_new/sub_map" target="html-box" 
                   style="color:white; font-size:15px;
                   text-decoration: none; ">
                     카메라1</a>
               </li> 
               <li  style=" margin: 20px 0px;">
                   <a href="../main_new/sub_cctv" target="html-box"  
                   style="color:white; font-size:15px;
                   text-decoration: none;">
                     카메라2</a>
               </li> 
               <li  style=" margin: 20px 0px;">
                   <a href="../main_new/sub_record"  target="html-box"  
                   style="color:white; font-size:15px;
                   text-decoration: none;">
                      카메라3</a>
               </li> 
               <li  style=" margin: 20px 0px;">
                   <a href="../main_new/sub_setting"  target="html-box" 
                   style="color:white; font-size:15px;
                   text-decoration: none;">
                     카메라4</a>
               </li> 
               </ul> 
              </div>
              <div  style="margin-left:153px;">

              <table style="width:100%; ">
                <tr style="height:415px;
                position:relative;">
                <td> <iframe style="width:100%; height:425px; position:relative" src="../../../static/image/02_winter_1.mp4"></iframe></td>
                <td> <iframe style="width:100%; height:425px; position:relative" src="../../../static/image/02_spring_1.mp4"></iframe></td></tr>
                <tr style="height:400px;position:relative;">
                  <td> <iframe style="width:100%; height:410px; position:relative" src="../../../static/image/01_winter_1.mp4"></iframe></td>
                  <td> <iframe style="width:100%; height:410px; position:relative" src="../../../static/image/01_summer_1.mp4"></iframe></td></tr>
                </table>
              </div>

               
               
            
         
               </body>

    </html>
    {% endblock  %}