{% extends '../main_new.html' %}

{% block title %}sub_cctv{% endblock %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html >
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub_style.css' %}">
        <meta charset="utf-8"/>
        <script>
            function IdPopup(){
                window.open("{% url 'IdPopup' %}", "IdPopup", "width=500, height=300, left=100, top=50");
            }
        </script>
     </head>
                
    <body width="1200px" height="600px">
        <div>
            <button style="margin-top: 15%;">LOGOUT</button>
            <br>
            <button onclick="IdPopup();" style="margin-top: 50px;">ID 재설정</button>
            <br>
            <button onclick="PwPopup();" style="margin-top: 50px;">비밀번호 재설정</button>
            <br>
            <button style="margin-top: 50px;">회원탈퇴</button>
        </div>
        


        <style type="text/css">
            body{
                background-color: white;
            }
            div{
                text-align: center;
                
            }
            button{
                position:relative;
                width:300px;
                height:40px;
                background: #194087;
                color:white;
                font-weight: bold;
                border:none;
            }
            
        </style>

    </body>
</html>

{% endblock  %}