{% extends '../main_new.html' %}

{% block title %}sub_planning{% endblock %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html style="margin: 0; height:100%">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub_style.css' %}">
        <meta charset="utf-8"/>
     </head>
    
     <body style="overflow:hidden; ">
            
    
            <div id="content" name="content" class="container" style="height:100%;" >
                <img src="../../../static/image/kinder_map.jpg">

              
               
               
        
               </body>

    </html>
    {% endblock  %}