{% extends '../main_new.html' %}

{% block title %}sub_cctv{% endblock %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html style="margin: 0; ">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub_style.css' %}">
        <meta charset="utf-8"/>
     </head>
    
     <body style="overflow:hidden;">
        <div id="list">
               <ul id="camera_num" style="float:left; position: absolute; width:250px; height:590px; 
               background-color:#001941;color:aliceblue; margin: -16px -16px; 
               "  > 
               
               <li>
                  <h3>카메라 목록</h3>
               </li>
               <li>
                   <a href="../main_new/sub_map" target="html-box" 
                   style="color:white;
                   text-decoration: none;">
                     카메라1</a>
               </li> 
               <li>
                   <a href="../main_new/sub_cctv" target="html-box"  
                   style="color:white;
                   text-decoration: none;">
                     카메라2</a>
               </li> 
               <li>
                   <a href="../main_new/sub_record"  target="html-box"  
                   style="color:white;
                   text-decoration: none;">
                      카메라3</a>
               </li> 
               <li>
                   <a href="../main_new/sub_setting"  target="html-box" 
                   style="color:white;
                   text-decoration: none;">
                     카메라4</a>
               </li> 
     <body width="1000px" height="600px">


               </ul> 
               </div>
               
               
          
               <iframe src="http://192.168.0.119:4747/"
               width="900" height="580px"
               style="margin-left:250px;">
               </iframe>

    </html>
    {% endblock  %}