{% load static %}
<!DOCTYPE html>
<html style="width:1200px; height:800px; margin: 0; ">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/sub_style.css' %}">
        <meta charset="utf-8"/>
     </head>
     <body>
        <div id="list">
               <ul id="camera_num" style="float:left; position: absolute; width:300px; height:600px; 
               background-color:#001941;color:aliceblue;; 
               "  > 
               <li>
                  <h3>카메라 목록</h3>
               </li>
               <li>
                   <a href="../main_new/sub_map" target="html-box">카메라1</a>
               </li> 
               <li>
                   <a href="../main_new/sub_cctv" target="html-box"> 카메라2</a>
               </li> 
               <li>
                   <a href="../main_new/sub_record"  target="html-box">카메라3</a>
               </li> 
               <li>
                   <a href="../main_new/sub_setting"  target="html-box">카메라4</a>
               </li> 

               </ul> 
               </div>
               
          
               <iframe src="http://192.168.0.119:4747/"
               width="900" height="605"
               style="margin-left:300px; margin-top:16px;">
               </iframe>

    </html>
