{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
        <meta charset="utf-8"/>
        <title>index</title>
     </head>
     <body>
        <header>
        <div class="one">
                <div class="wrapper">
                <h1>VIOTY</h1>
                <nav>
                        <ul class="menu">
                            <li><a href="">LOGIN</a></li>
                            <li><a href="">JOIN</a></li>

                        </ul>
                        </nav> 
                </div>
        </div>
        <div class="two">
                <h2>기능1</h2>
        </header>






</style>


</body>

</html>