{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="utf-8"/>
    <title>로그인</title>
</head>
<body>

    <header>
        <div class="wrapper">
        <h1>VIOTY</h1>
        <nav>
           <ul class="menu">
    
              <li><a href="">회원가입</a></li>
           </ul>
           </nav> 
        </div>
     </header>

   <div style="position: relative; text-align: center; display: inline-block; margin-left: 35%; margin-right: 30%; padding: 10%;">
   <form method="POST" action="{%url 'login'%}">
   {% csrf_token %}
        <input id="ID" name="ID" type="text" placeholder="아이디"/> <br>
        <input id="PW" name="PW" type="password" placeholder="비밀번호"/> <br>
        <button type="submit" style="border-radius: 10px;">로그인</button>
    </div>
    </body>

</html>