<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>
	<h1>지도 메인화면</h1>
	<div id="map" style="width:1200px;height:600px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d02b33e49797d9e083e9e309c02505a2"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			// center: new kakao.maps.LatLng(33.450701, 126.570667),
			center : new kakao.maps.LatLng(37.6151985549786, 127.062364906238),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>

	<h1>cctv 확인</h1>

	{% for xy in location %}

       	x 좌표 : {{xy.x}} 
		y 좌표 : {{xy.y}}
		<br>
    {% endfor %}

	<script>
		// var person = JSON.parse("{{ location|escapejs }}");

		var v="{{location|escapejs}}"
		document.write(v.length);
		document.write(v);

		for(var i=0 ; i < v.length ; i++){
			var tmpString = v[i];
			document.write(tmpString[j]);

		}





		// document.write("HTML출력");
		// document.write(person);




	</script>



</body>
</html>