{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <meta charset="utf-8"/>
   <title>VIOTY</title>
</head>
<body>
	<header>
		<div class="wrapper">
		<h1><a href="#">VIOTY</a></h1>
		<nav>
		   <ul class="menu">
			  <li><a href="#">JOIN</a></li>
			  <li><a href="">LOGIN</a></li>
			  <li><a href="">MY PAGE</a></li>
		   </ul>
		   </nav> 
		</div>
	</header>
	<div class="main_map" style="margin-top: 500px;">
		<div id="map" style="width:100%;height:700px;"></div>
	 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d02b33e49797d9e083e9e309c02505a2"></script>  <script>
		var container = document.getElementById('map');
		var options = {
		   // center: new kakao.maps.LatLng(33.450701, 126.570667),
		   center : new kakao.maps.LatLng(37.6151985549786, 127.062364906238),
		   level: 3
		};
  
		var map = new kakao.maps.Map(container, options);
	 </script>
  
  
	 <br>
  
  
	 <div id="facility_lat" style="display: none">
		{% for xy in location %}
		   {{ xy.x }},
		{% endfor %}
	 </div>
	 <div id="facility_lng" style="display: none">
		{% for xy in location %}
		   {{ xy.y }},
		{% endfor %}
	 </div>
  
    </div>
	


   <script>

      var list_lat = document.getElementById("facility_lat").innerText.split(',');
      var list_lng = document.getElementById("facility_lng").innerText.split(',');
      var coffeePositions = new Array();
      for(var idx=0; idx<list_lat.length; idx++){
         // var data = list[idx];
         var data_lat = list_lat[idx];
         var data_lng = list_lng[idx];
         // coffeePositions.push(new kakao.maps.LatLng(data.위도, data.경도));
         coffeePositions.push(new kakao.maps.LatLng(data_lat, data_lng));
      }


      for (var i = 0; i < coffeePositions.length; i ++) {
         // 마커를 생성합니다
         var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: coffeePositions[i], // 마커를 표시할 위치
			clickable: true
         });

		 kakao.maps.event.addListener(marker, 'click', function(){
			var url = "{% url 'camera' %}";
			document.location.href = url;

		 });




    	}

	


   </script>



</body>
</html>