{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
        <meta charset="utf-8"/>
        <title>회원가입</title>
     </head>
     <body width="100%" height="100%">
        <header>
                <div class="wrapper">
                <h1>VIOTY</h1>
                <nav>
                        <ul class="menu">
                
                        <li><a href="">로그인</a></li>
                        </ul>
                        </nav> 
                </div>
        </header>



<style type="text/css">
        #name, #ID, #PW1, #PW2, #email, #tel, #agency {width: 200pt; height: 20pt; font-size: 16pt;}
</style>


<form method="POST" action="{%url 'signup' %}"  class="signForm">
        {% csrf_token %}
        <h2>JOIN</h2>

      

        <div class="nameForm">       
        
        <input id="name" class="name" name="name" type="text" placeholder="NAME"/> 
        </div>


        <div class="idForm">
                <input id="ID" class="id" name="ID" type="text" placeholder="ID"/> <br>
            </div>
            <div class="pass1Form">
                <input id="PW1" class="pw1" name="PW1" type="password" placeholder="PW"/> <br>
                </div>
                <div class="pass2Form">
                <input id="PW2" class="pw2" name="PW2" type="password" placeholder="PW Confirm"/> <br>
                </div>
                <div class="emailForm">
                        <input id="email" class="email" name="email" type="email" placeholder="EMAIL"/> <br>
                        </div>
                <div class="telForm">
                        <input id="tel" class="tel" name="tel" type="tel" placeholder="TEL"/> <br>
                         </div>
                <div class="agencyForm">
                        <input  id="agency" class="agency" name="agency" type="text" placeholder="AGENCY"/> <br>
                        </div>
                <button type="submit" class="btn">SIGN UP</button>
            <div class="bottomText"></div>

    </form>
</body>

</html>