<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>로그인</title>
     </head>
<body>
   <h1>vioty</h1>
   <form method="POST" action="{%url 'signup' %}">
{% csrf_token %}
이름 : 
        <input id="name" name="name" type="text"/> <br>
아이디:
        <input id="ID" name="ID" type="text"/> <br>
비밀번호 : 
        <input id="PW1" name="PW1" type="password"/> <br>
비밀번호 확인 : 
        <input id="PW2" name="PW2" type="password"/><br>
이메일 : 
        <input id="email" name="email" type="email"/> <br>
전화번호 : 
        <input id="tel" name="tel" type="tel"/> <br>
사용 기관 : 
        <input id="agency" name="agency" type="text"/> <br>
        <button type="submit">SINGUP</button>
    </form>
</body>

</html>